In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

In [2]:
df= pd.read_csv("data_VIF_corrected.csv")

In [3]:
df

,Latitude,Longitude,Time,Albedo,Wind_Gust,Planetary_Boundary_Layer_Height,Pressure,R_H_L103,U_GRD_L103,Vertical_motion,...,Cosine_of_Month,weekday,oct_feb,march_may,june_sep,nov_feb,june_aug,sep_oct,nov_march,april_may
0,22.630,88.352,2021-01-01,5.98142,3.826027,301.986018,101429.166812,39.441699,0.177358,-3.067933,...,0.866025,1,1,0,0,1,0,0,1,0
1,22.630,88.352,2021-01-02,5.97004,3.101588,267.144669,101373.725500,31.246400,0.641507,-2.350824,...,0.866025,1,1,0,0,1,0,0,1,0
2,22.630,88.352,2021-01-03,5.93766,2.774223,262.226417,101257.671000,35.061600,-0.116059,-2.127140,...,0.866025,0,1,0,0,1,0,0,1,0
3,22.630,88.352,2021-01-04,5.91420,2.184178,245.017254,101243.457063,41.387301,-0.406643,-1.479325,...,0.866025,1,1,0,0,1,0,0,1,0
4,22.630,88.352,2021-01-05,5.89578,2.317436,244.012100,101231.065125,41.939000,-0.299777,-0.909857,...,0.866025,1,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9725,22.545,88.340,2023-08-27,11.06430,4.011113,509.447365,100109.151406,68.163247,1.729183,1.165340,...,-0.500000,0,0,0,1,0,1,0,0,0
9726,22.545,88.340,2023-08-28,11.38305,3.222736,348.428543,100105.622344,62.163750,1.055720,0.574886,...,-0.500000,1,0,0,1,0,1,0,0,0
9727,22.545,88.340,2023-08-29,11.53260,2.810299,586.165287,100182.874219,60.941749,0.205340,0.228833,...,-0.500000,1,0,0,1,0,1,0,0,0
9728,22.545,88.340,2023-08-30,11.89660,2.842451,508.752148,100287.627813,59.556001,0.731016,0.528769,...,-0.500000,1,0,0,1,0,1,0,0,0
9729,22.545,88.340,2023-08-31,11.06580,3.711203,551.716328,100346.506719,63.975251,0.726602,1.884287,...,-0.500000,1,0,0,1,0,1,0,0,0

In [ ]:
nan_count_per_column = df.isna().sum()

print("Number of NaN values in each column:")
print(nan_count_per_column)

In [ ]:
# Forward fill
#df['AOD'] = df['AOD'].fillna(method='ffill')

# Backward fill
#df['AOD'] = df['AOD'].fillna(method='bfill')
import pandas as pd

# Assuming df is your DataFrame
#df['AOD'] = df['AOD'].ffill()
#df['PM 2.5'] = df['PM 2.5'].ffill()

# Or, if you want to use backward filling (bfill) instead:
# df['AOD'] = df['AOD'].bfill()

In [ ]:
nan_count_per_column = df.isna().sum()

print("Number of NaN values in each column:")
print(nan_count_per_column)

In [4]:
df['Time'] = pd.to_datetime(df['Time'])

# import numpy as np

df['sin_month'] = np.sin(2 * np.pi * df['Time'].dt.month / 12)
df['cos_month'] = np.cos(2 * np.pi * df['Time'].dt.month / 12)

In [5]:

# Assuming your data is in a pandas DataFrame named 'df'
# Make sure your 'Time' column is in dateTime format
df['Time'] = pd.to_datetime(df['Time'])

# Filter data for dates between January 1, 2021, and December 31, 2022
date_range_start = '2021-01-01'
date_range_end = '2021-12-31'
date_mask = (df['Time'] >= date_range_start) & (df['Time'] <= date_range_end)
filtered_data = df[date_mask]

# Further filter based on 'PM 2.5' range
pm_mask = (filtered_data['PM 2.5'] >= 30) & (filtered_data['PM 2.5'] <= 200)
final_filtered_data = filtered_data[pm_mask]

# Create a new DataFrame with the filtered data
new_df = pd.DataFrame(final_filtered_data)

# Display the new DataFrame
print(new_df)

      Latitude  Longitude       Time   Albedo  Wind_Gust  \
0       22.630     88.352 2021-01-01  5.98142   3.826027
1       22.630     88.352 2021-01-02  5.97004   3.101588
3       22.630     88.352 2021-01-04  5.91420   2.184178
4       22.630     88.352 2021-01-05  5.89578   2.317436
5       22.630     88.352 2021-01-06  5.86226   2.081998
...        ...        ...        ...      ...        ...
9117    22.545     88.340 2021-12-27  5.51565   2.170591
9118    22.545     88.340 2021-12-28  5.62150   1.932976
9119    22.545     88.340 2021-12-29  5.49165   5.241088
9120    22.545     88.340 2021-12-30  5.42140   5.632960
9121    22.545     88.340 2021-12-31  5.65210   7.035520

      Planetary_Boundary_Layer_Height       Pressure   R_H_L103  U_GRD_L103  \
0                          301.986018  101429.166812  39.441699    0.177358
1                          267.144669  101373.725500  31.246400    0.641507
3                          245.017254  101243.457063  41.387301   -0.406643
4                          244.012100  101231.065125  41.939000   -0.299777
5                          263.980614  101035.096312  39.217601    1.169065
...                               ...            ...        ...         ...
9117                       459.816222  101581.567500  57.867502    0.710075
9118                       457.324150  101546.222031  53.808502   -0.756724
9119                       490.224965  101659.625781  50.287500   -0.218093
9120                       306.131141  101829.120000  60.990498    1.335943
9121                       526.590922  101817.012188  55.389500    0.275694

      Vertical_motion  ...  Cosine_of_Month weekday  oct_feb  march_may  \
0           -3.067933  ...         0.866025       1        1          0
1           -2.350824  ...         0.866025       1        1          0
3           -1.479325  ...         0.866025       1        1          0
4           -0.909857  ...         0.866025       1        1          0
5           -0.265803  ...         0.866025       1        1          0
...               ...  ...              ...     ...      ...        ...
9117         1.151911  ...         1.000000       1        1          0
9118         0.128831  ...         1.000000       1        1          0
9119        -2.870194  ...         1.000000       1        1          0
9120        -3.416669  ...         1.000000       1        1          0
9121        -4.293391  ...         1.000000       1        1          0

      june_sep  nov_feb  june_aug  sep_oct  nov_march  april_may
0            0        1         0        0          1          0
1            0        1         0        0          1          0
3            0        1         0        0          1          0
4            0        1         0        0          1          0
5            0        1         0        0          1          0
...        ...      ...       ...      ...        ...        ...
9117         0        1         0        0          1          0
9118         0        1         0        0          1          0
9119         0        1         0        0          1          0
9120         0        1         0        0          1          0
9121         0        1         0        0          1          0

[2157 rows x 26 columns]

In [ ]:
new_df = new_df.drop(['Station Name'], axis=1)

In [6]:
# Remove rows with NaN values
new_df= new_df.dropna()

In [7]:
new_df

,Latitude,Longitude,Time,Albedo,Wind_Gust,Planetary_Boundary_Layer_Height,Pressure,R_H_L103,U_GRD_L103,Vertical_motion,...,Cosine_of_Month,weekday,oct_feb,march_may,june_sep,nov_feb,june_aug,sep_oct,nov_march,april_may
0,22.630,88.352,2021-01-01,5.98142,3.826027,301.986018,101429.166812,39.441699,0.177358,-3.067933,...,0.866025,1,1,0,0,1,0,0,1,0
1,22.630,88.352,2021-01-02,5.97004,3.101588,267.144669,101373.725500,31.246400,0.641507,-2.350824,...,0.866025,1,1,0,0,1,0,0,1,0
3,22.630,88.352,2021-01-04,5.91420,2.184178,245.017254,101243.457063,41.387301,-0.406643,-1.479325,...,0.866025,1,1,0,0,1,0,0,1,0
4,22.630,88.352,2021-01-05,5.89578,2.317436,244.012100,101231.065125,41.939000,-0.299777,-0.909857,...,0.866025,1,1,0,0,1,0,0,1,0
5,22.630,88.352,2021-01-06,5.86226,2.081998,263.980614,101035.096312,39.217601,1.169065,-0.265803,...,0.866025,1,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9117,22.545,88.340,2021-12-27,5.51565,2.170591,459.816222,101581.567500,57.867502,0.710075,1.151911,...,1.000000,1,1,0,0,1,0,0,1,0
9118,22.545,88.340,2021-12-28,5.62150,1.932976,457.324150,101546.222031,53.808502,-0.756724,0.128831,...,1.000000,1,1,0,0,1,0,0,1,0
9119,22.545,88.340,2021-12-29,5.49165,5.241088,490.224965,101659.625781,50.287500,-0.218093,-2.870194,...,1.000000,1,1,0,0,1,0,0,1,0
9120,22.545,88.340,2021-12-30,5.42140,5.632960,306.131141,101829.120000,60.990498,1.335943,-3.416669,...,1.000000,1,1,0,0,1,0,0,1,0
9121,22.545,88.340,2021-12-31,5.65210,7.035520,526.590922,101817.012188,55.389500,0.275694,-4.293391,...,1.000000,1,1,0,0,1,0,0,1,0

In [ ]:
# high_pm= df[df['PM 2.5']>30]

In [ ]:
# high_pm

In [8]:
# Assuming your DataFrame is named 'df'
X = new_df.drop(['PM 2.5',"Time","Station Name"], axis=1)  # Features (excluding the target variable)
y = new_df['PM 2.5']  # Target variable

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [10]:
#print(X_test.dtypes)

In [11]:

# Create the model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)

# Train the model
rf_model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [12]:
from sklearn.model_selection import cross_val_score


# Assuming rf_model is your Random Forest model
cross_val_scores = cross_val_score(rf_model, X_train, y_train, scoring='neg_mean_squared_error', cv=5)
rmse_cross_val = np.sqrt(-cross_val_scores.mean())

print(f'Cross-Validated RMSE: {rmse_cross_val:.4f}')

Cross-Validated RMSE: 15.0274

In [13]:
feature_importance = pd.Series(rf_model.feature_importances_, index=X.columns)
feature_importance.sort_values(ascending=False, inplace=True)
print(feature_importance)

nov_feb                            0.401962
R_H_L103                           0.103697
Albedo                             0.083949
Latitude                           0.072227
Sine_of_Month                      0.054985
AOD                                0.053193
Wind_Gust                          0.045474
Vertical_motion                    0.036967
Longitude                          0.035439
Pressure                           0.025844
U_GRD_L103                         0.023843
Planetary_Boundary_Layer_Height    0.023181
Visibility                         0.012390
Precipitation_Rate                 0.009813
nov_march                          0.007998
Cosine_of_Month                    0.004842
weekday                            0.004080
june_aug                           0.000041
april_may                          0.000022
march_may                          0.000022
june_sep                           0.000018
oct_feb                            0.000010
sep_oct                            0.000005
dtype: float64

In [14]:
from sklearn.metrics import mean_squared_error, r2_score


# Make predictions on the training set
y_train_pred = rf_model.predict(X_train)

# Make predictions on the test set
y_test_pred = rf_model.predict(X_test)

# Calculate RMSE for training and testing sets
rmse_train = np.sqrt(mean_squared_error(y_train, y_train_pred))
rmse_test = np.sqrt(mean_squared_error(y_test, y_test_pred))

# Calculate R-squared for training and testing sets
r2_train = r2_score(y_train, y_train_pred)
r2_test = r2_score(y_test, y_test_pred)

# Display the results
print(f'Training RMSE: {rmse_train:.4f}')
print(f'Testing RMSE: {rmse_test:.4f}')

print(f'Training R-squared: {r2_train:.4f}')
print(f'Testing R-squared: {r2_test:.4f}')

Training RMSE: 5.4814
Testing RMSE: 15.5210
Training R-squared: 0.9798
Testing R-squared: 0.8456

In [15]:
import joblib

# Save the model to a file
model_filename = 'random_forest_model_3rdjan_2nd.pkl'
joblib.dump(rf_model, model_filename)

['random_forest_model_3rdjan_2nd.pkl']

ready unseen data

In [ ]:
df1= pd.read_csv("only_variable_with_corr_name_season_added.csv")

In [ ]:
# df['Time'] = pd.to_dateTime(df['Time'])

In [ ]:
import pandas as pd

# Assuming your data is in a pandas DataFrame named 'df'
# Make sure your 'Time' column is in dateTime format
df1['Time'] = pd.to_datetime(df1['Time'])

# Filter data for dates between January 1, 2021, and December 31, 2022
date_range_start = '2022-01-01'
date_range_end = '2022-12-31'
date_mask = (df1['Time'] >= date_range_start) & (df1['Time'] <= date_range_end)
filtered_data = df1[date_mask]

# Further filter based on 'PM 2.5' range
pm_mask = (filtered_data['PM 2.5'] >= 30) & (filtered_data['PM 2.5'] <= 200)
final_filtered_data = filtered_data

# Create a new DataFrame with the filtered data
new_df1 = pd.DataFrame(final_filtered_data)

# Display the new DataFrame
print(new_df1)

In [ ]:
# Further filter based on 'PM 2.5' range
pm_mask = (filtered_data['PM 2.5'] >= 30) & (filtered_data['PM 2.5'] <= 200)
final_filtered_data = filtered_data

# Create a new DataFrame with the filtered data
new_df1 = pd.DataFrame(final_filtered_data)

# Display the new DataFrame
print(new_df1)

In [ ]:
new_df1= new_df1.dropna()

In [ ]:
# Further filter based on 'PM 2.5' range
pm_mask = (filtered_data['PM 2.5'] >= 30) & (filtered_data['PM 2.5'] <= 200)
final_filtered_data = filtered_data

# Create a new DataFrame with the filtered data
new_df1 = pd.DataFrame(final_filtered_data)

# Display the new DataFrame
print(new_df1)

In [ ]:
X_unseen = new_df1.drop(['PM 2.5','Station Name',"Time"], axis=1)  # Features (excluding the target variable)

In [ ]:
# Later, when you want to use the model for predictions on unseen data:
# Load the model from the file
import joblib
loaded_model = joblib.load(model_filename)

#Make predictions on unseen data (replace X_unseen with your actual unseen data)
y_unseen_pred = loaded_model.predict(X_unseen)

#Display the predictions on unseen data
print(y_unseen_pred)
pm=(new_df1["PM 2.5"])
print(pm)

In [ ]:
rmse = np.sqrt(mean_squared_error(y_unseen_pred, pm))

In [ ]:
rmse

In [ ]:
r2_unseen = r2_score(y_unseen_pred, pm)

In [ ]:
r2_unseen

In [ ]:
import numpy as np

# Assuming y_unseen_pred and pm_actual are your predicted and actual PM 2.5 values
correlation_coefficient = np.corrcoef(y_unseen_pred, pm)[0, 1]

print(f'Correlation coefficient between predicted and actual PM 2.5: {correlation_coefficient:.4f}')

In [ ]:
from sklearn.metrics import mean_squared_error
import numpy as np

# Assuming y_actual and y_pred are your actual and predicted values
y_actual_tttt = np.array([pm])  # Replace with your actual values
y_pred_tttt = np.array([y_unseen_pred])  # Replace with your predicted values

# Calculate RMSE
rmse = np.sqrt(mean_squared_error(y_actual_tttt, y_pred_tttt))

# Calculate the mean of the target variable
mean_target = np.mean(y_actual_tttt)

# Compare RMSE with Mean
print(f'RMSE: {rmse:.4f}')
print(f'Mean of the Target Variable: {mean_target:.4f}')

# Normalize RMSE by dividing by the mean
nrmse = rmse / mean_target
print(f'Normalized RMSE (NRMSE): {nrmse:.4f}')

In [ ]:
import matplotlib.pyplot as plt


# Create a line plot
plt.figure(figsize=(10, 6))
plt.plot(y_actual_tttt.flatten(), label='Actual PM 2.5')
plt.plot(y_pred_tttt.flatten(), label='Predicted PM 2.5')

# Add labels and title
plt.xlabel('Observation')
plt.ylabel('PM 2.5 Values')
plt.title('Comparison of Actual and Predicted PM 2.5 Values')

# Add legend
plt.legend()

# Show the plot
plt.show()

In [ ]:
data = {'y_actual': y_actual_tttt.flatten(), 'y_pred': y_pred_tttt.flatten()}
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv('unseen_predict_3jan.csv', index=False)