In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

In [2]:
df= pd.read_csv("only_variable_with_corr_name_season_added.csv")

In [3]:
df

,Latitude,Longitude,Time,Albedo,Downward_Long-Wave_Rad_Flux,Downward_Short-Wave_Rad_Flux,Wind_Gust,Planetary_Boundary_Layer_Height,Latent_Heat_Flux,Pressure,...,Cosine_of_Month,weekday,oct_feb,march_may,june_sep,nov_feb,june_aug,sep_oct,nov_march,april_may
0,22.630,88.352,2021-01-01,5.98142,312.559000,204.350000,3.826027,301.986018,30.057888,101429.166812,...,0.866025,1,1,0,0,1,0,0,1,0
1,22.630,88.352,2021-01-02,5.97004,313.683534,202.960000,3.101588,267.144669,30.471104,101373.725500,...,0.866025,1,1,0,0,1,0,0,1,0
2,22.630,88.352,2021-01-03,5.93766,322.803813,195.740000,2.774223,262.226417,28.723234,101257.671000,...,0.866025,0,1,0,0,1,0,0,1,0
3,22.630,88.352,2021-01-04,5.91420,333.227000,202.500000,2.184178,245.017254,29.531700,101243.457063,...,0.866025,1,1,0,0,1,0,0,1,0
4,22.630,88.352,2021-01-05,5.89578,342.897000,200.550000,2.317436,244.012100,30.009221,101231.065125,...,0.866025,1,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9725,22.545,88.340,2023-08-27,11.06430,447.360698,218.351436,4.011113,509.447365,121.838930,100109.151406,...,-0.500000,0,0,0,1,0,1,0,0,0
9726,22.545,88.340,2023-08-28,11.38305,446.798837,254.572562,3.222736,348.428543,132.334216,100105.622344,...,-0.500000,1,0,0,1,0,1,0,0,0
9727,22.545,88.340,2023-08-29,11.53260,449.412098,170.017404,2.810299,586.165287,94.150990,100182.874219,...,-0.500000,1,0,0,1,0,1,0,0,0
9728,22.545,88.340,2023-08-30,11.89660,444.362351,238.533522,2.842451,508.752148,110.109848,100287.627813,...,-0.500000,1,0,0,1,0,1,0,0,0
9729,22.545,88.340,2023-08-31,11.06580,449.656999,214.339204,3.711203,551.716328,97.653867,100346.506719,...,-0.500000,1,0,0,1,0,1,0,0,0

In [4]:
nan_count_per_column = df.isna().sum()

print("Number of NaN values in each column:")
print(nan_count_per_column)

Number of NaN values in each column:
Latitude                             0
Longitude                            0
Time                                 0
Albedo                               0
Downward_Long-Wave_Rad_Flux          0
Downward_Short-Wave_Rad_Flux         0
Wind_Gust                            0
Planetary_Boundary_Layer_Height      0
Latent_Heat_Flux                     0
Pressure                             0
R_H_L103                             0
SHTFL_L1_Avg_1                       0
TMP_L103                             0
U_GRD_L103                           0
ULWRF_L1_Avg_1                       0
USWRF_L1_Avg_1                       0
Vertical_motion                      0
Visibility                           0
Station Name                         0
PM 2.5                             225
AOD                                  0
Precipitation_Rate                   0
Sine_of_Month                        0
Cosine_of_Month                      0
weekday                              0
oct_feb                              0
march_may                            0
june_sep                             0
nov_feb                              0
june_aug                             0
sep_oct                              0
nov_march                            0
april_may                            0
dtype: int64

In [5]:
# Forward fill
#df['AOD'] = df['AOD'].fillna(method='ffill')

# Backward fill
#df['AOD'] = df['AOD'].fillna(method='bfill')
import pandas as pd

# Assuming df is your DataFrame
#df['AOD'] = df['AOD'].ffill()
#df['PM 2.5'] = df['PM 2.5'].ffill()

# Or, if you want to use backward filling (bfill) instead:
# df['AOD'] = df['AOD'].bfill()

In [ ]:
nan_count_per_column = df.isna().sum()

print("Number of NaN values in each column:")
print(nan_count_per_column)

In [ ]:
df['Time'] = pd.to_datetime(df['Time'])

# import numpy as np

df['sin_month'] = np.sin(2 * np.pi * df['Time'].dt.month / 12)
df['cos_month'] = np.cos(2 * np.pi * df['Time'].dt.month / 12)

In [ ]:

# Assuming your data is in a pandas DataFrame named 'df'
# Make sure your 'Time' column is in dateTime format
df['Time'] = pd.to_datetime(df['Time'])

# Filter data for dates between January 1, 2021, and December 31, 2022
date_range_start = '2021-01-01'
date_range_end = '2022-11-30'
date_mask = (df['Time'] >= date_range_start) & (df['Time'] <= date_range_end)
filtered_data = df[date_mask]

# Further filter based on 'PM 2.5' range
pm_mask = (filtered_data['PM 2.5'] >= 30) & (filtered_data['PM 2.5'] <= 200)
final_filtered_data = filtered_data[pm_mask]

# Create a new DataFrame with the filtered data
new_df = pd.DataFrame(final_filtered_data)

# Display the new DataFrame
print(new_df)

In [ ]:
new_df = new_df.drop(['Station Name'], axis=1)

In [ ]:
# Remove rows with NaN values
new_df= new_df.dropna()

In [ ]:
new_df

In [ ]:
# high_pm= df[df['PM 2.5']>30]

In [ ]:
# high_pm

In [ ]:
# Assuming your DataFrame is named 'df'
X = new_df.drop(['PM 2.5',"Time"], axis=1)  # Features (excluding the target variable)
y = new_df['PM 2.5']  # Target variable

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
#print(X_test.dtypes)

In [ ]:

# Create the model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)

# Train the model
rf_model.fit(X_train, y_train)

In [ ]:
from sklearn.model_selection import cross_val_score


# Assuming rf_model is your Random Forest model
cross_val_scores = cross_val_score(rf_model, X_train, y_train, scoring='neg_mean_squared_error', cv=5)
rmse_cross_val = np.sqrt(-cross_val_scores.mean())

print(f'Cross-Validated RMSE: {rmse_cross_val:.4f}')

In [ ]:
feature_importance = pd.Series(rf_model.feature_importances_, index=X.columns)
feature_importance.sort_values(ascending=False, inplace=True)
print(feature_importance)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score


# Make predictions on the training set
y_train_pred = rf_model.predict(X_train)

# Make predictions on the test set
y_test_pred = rf_model.predict(X_test)

# Calculate RMSE for training and testing sets
rmse_train = np.sqrt(mean_squared_error(y_train, y_train_pred))
rmse_test = np.sqrt(mean_squared_error(y_test, y_test_pred))

# Calculate R-squared for training and testing sets
r2_train = r2_score(y_train, y_train_pred)
r2_test = r2_score(y_test, y_test_pred)

# Display the results
print(f'Training RMSE: {rmse_train:.4f}')
print(f'Testing RMSE: {rmse_test:.4f}')

print(f'Training R-squared: {r2_train:.4f}')
print(f'Testing R-squared: {r2_test:.4f}')

In [ ]:
import joblib

# Save the model to a file
model_filename = 'random_forest_model_27_12_2nd.pkl'
joblib.dump(rf_model, model_filename)

ready unseen data

In [ ]:
df1= pd.read_csv("only_variable_with_corr_name_season_added.csv")

In [ ]:
# df['Time'] = pd.to_dateTime(df['Time'])

In [ ]:
import pandas as pd

# Assuming your data is in a pandas DataFrame named 'df'
# Make sure your 'Time' column is in dateTime format
df1['Time'] = pd.to_datetime(df1['Time'])

# Filter data for dates between January 1, 2021, and December 31, 2022
date_range_start = '2022-12-01'
date_range_end = '2022-12-31'
date_mask = (df1['Time'] >= date_range_start) & (df1['Time'] <= date_range_end)
filtered_data = df1[date_mask]

# Further filter based on 'PM 2.5' range
#pm_mask = (filtered_data['PM 2.5'] >= 30) & (filtered_data['PM 2.5'] <= 250)
final_filtered_data = filtered_data

# Create a new DataFrame with the filtered data
new_df1 = pd.DataFrame(final_filtered_data)

# Display the new DataFrame
print(new_df1)

In [ ]:
new_df1= new_df1.dropna()

In [ ]:
X_unseen = new_df1.drop(['PM 2.5','Station Name',"Time"], axis=1)  # Features (excluding the target variable)

In [ ]:
# Later, when you want to use the model for predictions on unseen data:
# Load the model from the file
import joblib
loaded_model = joblib.load(model_filename)

#Make predictions on unseen data (replace X_unseen with your actual unseen data)
y_unseen_pred = loaded_model.predict(X_unseen)

#Display the predictions on unseen data
print(y_unseen_pred)
pm=(new_df1["PM 2.5"])
print(pm)

In [ ]:
rmse = np.sqrt(mean_squared_error(y_unseen_pred, pm))

In [ ]:
rmse

In [ ]:
r2_unseen = r2_score(y_unseen_pred, pm)

In [ ]:
r2_unseen

In [ ]:
import numpy as np

# Assuming y_unseen_pred and pm_actual are your predicted and actual PM 2.5 values
correlation_coefficient = np.corrcoef(y_unseen_pred, pm)[0, 1]

print(f'Correlation coefficient between predicted and actual PM 2.5: {correlation_coefficient:.4f}')

In [ ]:
from sklearn.metrics import mean_squared_error
import numpy as np

# Assuming y_actual and y_pred are your actual and predicted values
y_actual_tttt = np.array([pm])  # Replace with your actual values
y_pred_tttt = np.array([y_unseen_pred])  # Replace with your predicted values

# Calculate RMSE
rmse = np.sqrt(mean_squared_error(y_actual_tttt, y_pred_tttt))

# Calculate the mean of the target variable
mean_target = np.mean(y_actual_tttt)

# Compare RMSE with Mean
print(f'RMSE: {rmse:.4f}')
print(f'Mean of the Target Variable: {mean_target:.4f}')

# Normalize RMSE by dividing by the mean
nrmse = rmse / mean_target
print(f'Normalized RMSE (NRMSE): {nrmse:.4f}')

In [ ]:
import matplotlib.pyplot as plt


# Create a line plot
plt.figure(figsize=(10, 6))
plt.plot(y_actual_tttt.flatten(), label='Actual PM 2.5')
plt.plot(y_pred_tttt.flatten(), label='Predicted PM 2.5')

# Add labels and title
plt.xlabel('Observation')
plt.ylabel('PM 2.5 Values')
plt.title('Comparison of Actual and Predicted PM 2.5 Values')

# Add legend
plt.legend()

# Show the plot
plt.show()

In [ ]:
data = {'y_actual': y_actual_tttt.flatten(), 'y_pred': y_pred_tttt.flatten()}
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv('unseen_predict_2nd.csv', index=False)