In [30]:
import pandas as pd

In [31]:
df1= pd.read_csv(r"D:\PM_DATA\SUBSET\SUB_ALBEDO.csv")
df2= pd.read_csv(r"D:\PM_DATA\SUBSET\SUB_DOWN_LONG_RAD_FX.csv")
df3= pd.read_csv(r"D:\PM_DATA\SUBSET\SUB_DOWN_SHRT_RAD_FX.csv")
df4= pd.read_csv(r"D:\PM_DATA\SUBSET\SUB_FRIC_VELOC.csv")
df5= pd.read_csv(r"D:\PM_DATA\SUBSET\SUB_LAND_COV.csv")
df6= pd.read_csv(r"D:\PM_DATA\SUBSET\SUB_LATENT_HEAT_FX.csv")
df7= pd.read_csv(r"D:\PM_DATA\SUBSET\SUB_P_BOUN_HGT.csv")
df8= pd.read_csv(r"D:\PM_DATA\SUBSET\SUB_PRESSURE.csv")
df9= pd.read_csv(r"D:\PM_DATA\SUBSET\SUB_SENSIBLE_HEAT_FX.csv")
df10= pd.read_csv(r"D:\PM_DATA\SUBSET\SUB_SURF_ROUGH.csv")
df11= pd.read_csv(r"D:\PM_DATA\SUBSET\SUB_TEMP.csv")
df12= pd.read_csv(r"D:\PM_DATA\SUBSET\SUB_U_GRD.csv")
df13= pd.read_csv(r"D:\PM_DATA\SUBSET\SUB_UP_LONG_RAD_FX.csv")
df14= pd.read_csv(r"D:\PM_DATA\SUBSET\SUB_UP_SHRT_RAD_FX.csv")
df15= pd.read_csv(r"D:\PM_DATA\SUBSET\SUB_V_GRD.csv")
df16= pd.read_csv(r"D:\PM_DATA\SUBSET\SUB_VEGETATION.csv")
df17= pd.read_csv(r"D:\PM_DATA\SUBSET\SUB_VISIBILITY.csv")
df18= pd.read_csv(r"D:\PM_DATA\SUBSET\SUB_windspeed.csv")

In [32]:
df1

              date   lat    lon  ALBDO_L1_Avg_1
0       2015-02-01  21.0  85.00         14.9500
1       2015-02-01  21.0  85.25         14.9250
2       2015-02-01  21.0  85.50         14.3250
3       2015-02-01  21.0  85.75         12.5000
4       2015-02-01  21.0  86.00         10.8500
...            ...   ...    ...             ...
855577  2023-08-31  24.0  89.00         13.2550
855578  2023-08-31  24.0  89.25         11.8275
855579  2023-08-31  24.0  89.50         10.4625
855580  2023-08-31  24.0  89.75          9.7800
855581  2023-08-31  24.0  90.00         10.9225

[855582 rows x 4 columns]

In [33]:
#data_frames = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18]

In [34]:
df1_2= pd.merge(df1, df2 , on =["lat","lon","date"])

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [35]:
df1_2

              date   lat    lon  ALBDO_L1_Avg_1  DLWRF_L1_Avg_1
0       2015-02-01  21.0  85.00         14.9500      309.750000
1       2015-02-01  21.0  85.25         14.9250      315.375000
2       2015-02-01  21.0  85.50         14.3250      318.875000
3       2015-02-01  21.0  85.75         12.5000      321.000000
4       2015-02-01  21.0  86.00         10.8500      323.000000
...            ...   ...    ...             ...             ...
855577  2023-08-31  24.0  89.00         13.2550      442.612500
855578  2023-08-31  24.0  89.25         11.8275      449.737498
855579  2023-08-31  24.0  89.50         10.4625      450.624998
855580  2023-08-31  24.0  89.75          9.7800      440.962495
855581  2023-08-31  24.0  90.00         10.9225      440.412497

[855582 rows x 5 columns]

In [18]:
from functools import reduce
dfs = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18]
df_final = reduce(lambda left,right: pd.merge(left,right,on='date'), dfs)

MemoryError: Unable to allocate 1.74 GiB for an array with shape (233573886,) and data type int64

In [ ]:
df_final