In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_excel("Combined All Stations_100m+PM25 added preci.xlsx")

In [3]:
df['time'] = pd.to_datetime(df['time'])

In [8]:
import pandas as pd

# Assuming 'df' is your DataFrame and 'time' is your time column
# If 'time' is not already in datetime format, you can convert it like this:
# df['time'] = pd.to_datetime(df['time'])

# Extract date, month, and year into separate columns
df['date'] = df['time'].dt.day
df['month'] = df['time'].dt.month
df['year'] = df['time'].dt.year
df['weekday'] = df['time'].dt.day_name()

# Display the updated DataFrame
print(df)

         lat     lon       time  ALBDO_L1_Avg_1  DLWRF_L1_Avg_1  \
0     22.630  88.352 2021-01-01         5.98142      312.559000
1     22.630  88.352 2021-01-02         5.97004      313.683534
2     22.630  88.352 2021-01-03         5.93766      322.803813
3     22.630  88.352 2021-01-04         5.91420      333.227000
4     22.630  88.352 2021-01-05         5.89578      342.897000
...      ...     ...        ...             ...             ...
9725  22.545  88.340 2023-08-27        11.06430      447.360698
9726  22.545  88.340 2023-08-28        11.38305      446.798837
9727  22.545  88.340 2023-08-29        11.53260      449.412098
9728  22.545  88.340 2023-08-30        11.89660      444.362351
9729  22.545  88.340 2023-08-31        11.06580      449.656999

      DSWRF_L1_Avg_1  FRICV_L1   GUST_L1     HPBL_L1  LAND_L1  ...   VEG_L1  \
0         204.350000       NaN  3.826027  301.986018        1  ...      NaN
1         202.960000       NaN  3.101588  267.144669        1  ...      NaN
2         195.740000       NaN  2.774223  262.226417        1  ...      NaN
3         202.500000       NaN  2.184178  245.017254        1  ...      NaN
4         200.550000       NaN  2.317436  244.012100        1  ...      NaN
...              ...       ...       ...         ...      ...  ...      ...
9725      218.351436  0.236240  4.011113  509.447365        1  ...  27.3940
9726      254.572562  0.232510  3.222736  348.428543        1  ...  28.0470
9727      170.017404  0.217375  2.810299  586.165287        1  ...  28.7160
9728      238.533522  0.196937  2.842451  508.752148        1  ...  29.3645
9729      214.339204  0.225425  3.711203  551.716328        1  ...  30.0405

            VIS_L1  Station Name     PM 2.5       AOD  PRATE_L1_Avg_1  date  \
0     24135.001953    Belur Math  77.654583  0.581550    0.000000e+00     1
1     24135.046875    Belur Math  58.124737  0.425139    0.000000e+00     2
2     24135.080078    Belur Math        NaN  0.665841    0.000000e+00     3
3     24134.914062    Belur Math  76.667778  0.415729    0.000000e+00     4
4     24134.949219    Belur Math  92.684583  0.384968    0.000000e+00     5
...            ...           ...        ...       ...             ...   ...
9725  24134.960938      Victoria  40.327917       NaN    3.322000e-06    27
9726  24134.876953      Victoria  60.819167       NaN    0.000000e+00    28
9727  24135.013672      Victoria  70.484583       NaN    1.620000e-07    29
9728  24134.886719      Victoria  68.857619       NaN    4.600000e-08    30
9729  24134.921875      Victoria  62.442083       NaN    5.260000e-07    31

      month  year    weekday
0         1  2021     Friday
1         1  2021   Saturday
2         1  2021     Sunday
3         1  2021     Monday
4         1  2021    Tuesday
...     ...   ...        ...
9725      8  2023     Sunday
9726      8  2023     Monday
9727      8  2023    Tuesday
9728      8  2023  Wednesday
9729      8  2023   Thursday

[9730 rows x 30 columns]

In [9]:
df.to_excel('alldata_withdateyearmonth.xlsx', index=False)

In [14]:
monthly_pm_mean = df.groupby('weekday')['PM 2.5'].mean()

# Display the result
print(monthly_pm_mean)

weekday
Friday       54.502352
Monday       49.575534
Saturday     55.627174
Sunday       51.334630
Thursday     53.099609
Tuesday      52.012522
Wednesday    53.317675
Name: PM 2.5, dtype: float64

In [ ]:
pm_mean_month_weekday = df.groupby(['month', 'weekday'])['PM 2.5'].mean()